.blog-footer{
  width: 100%;
  //background-color: #202234;
  background-color: $secondary-color-2;
  // font-family: $bellefair;
  .footer-social-menu{
    width: fit-content;
  }
  @media(max-width: $br-md){
    .footer-social-menu{
      width: auto;
    }
  }
  .nav-item{
    a{
      font-family: $heading-1-font-family ;
      font-weight: bold;
    }
  }

  .newsletter-input{
    background-color: #33364D !important;
  }
}