body{
  background-color: $secondary-color-3;
}

*{
  font-family: $text-font-family;
}
.site-wrapper{
  h1, h2, h3, h4, h5, h6{
    font-weight: bold;
  }

  // Typography
  h1 {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 1.15rem;
  }
  h3 {
    font-size: 1.05rem;
  }
  h4 {
    font-size: 0.93rem;
  }


  h5 {
    font-size: 0.85rem;
  }
  p, li {
    font-size: 0.75rem;
    font-weight: lighter;
  }


  // font-family: $text-font-family;
  .text-justify{
    text-align: justify;
  }
  .img-fluid{
    width: 100%;
  }
}


.card-img-l{
  @include fit-post-image();
  border: 3px solid white;
}

.outline-none{
  outline: none;
  &:focus{
    box-shadow: none;
  }
}


@media(max-width: $br-md){
  .sec-heading{
    border-bottom: 1px solid $error-color-2;
    text-align: left !important;
  }
}
