.landing-main-menu{
  @include bg_image_style(100%, 50vh);
}
//@media(max-width: $br-md){height: 100vh; background-size: cover;}


.caption-main{
  height: 590px;
  // font-family: $text-font-family;
  h1{
    font-size: 4rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  }
  p{
    font-size: 1rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  }
  @media(max-width: $br-md){
    height: 400px;
    h2{font-size: 2rem;}
  }
}



