.pagination{
  .page-item{
    a{
      text-decoration: none;
      color: $light;
    }
  }
  .active{
    a{
      background-color: $light-color-1 !important;
    }
  }
  .disabled{
    a{
      background-color: $secondary-color-2 !important;
    }
  }
}