
.latest-popular{
  margin-top: 80px !important;
  z-index: 1;
  h2{
    color: $error-color-2 !important;
  }
  h5{
    //color: $error-color-2 !important;
  }
  //transform: translateY(-$translate-top);
  .latest-post{
    // font-family: $text-font-family;
    img{
      @include fit-post-image();
    }
    .card{
      background: transparent;
      .card-title{
        color: $error-color-2 !important;
      }
    }
  }


}



.popular-post{
  .list-heading{
    color: $error-color-2;
  }
  ol {
    counter-reset: items;
  }
  li {
    display: block;
    counter-increment: items;
    &:before {
      content: "0" counter(items)" ";
      color: #6c757d !important;
      font-size: 2rem;
    }
    &:nth-child(n+8):before {
      content: "0" counter(items)" ";
    }
  }
}